@import "../../styles/classes";

.root{
  overflow: hidden;
  background-image: url("../../resources/pictures/maintenance.jpg");
  @extend .background;
  @extend .center;
  width: 100vw;
  height: 100vh;
}

.text{
  font-family: maintenance, serif;
  font-size: 5rem;
  color: white;
  text-shadow: 10px 10px 10px #000000;
  user-select: none;
}

@font-face {
  font-family: "maintenance";
  src: url("../../resources/font/SUPERCELL_CZE.ttf");
}