@import "./colors";

.center {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.background{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Less";
  src: url("../resources/font/Roboto-Thin.ttf");
}

.h0{
  font-family: "Less", serif;
  font-size: 4rem;
  font-weight: bold;
}

.h1{
  font-family: "Less", serif;
  font-size: 2rem;
  font-weight: bold;
}
.h2{
  font-family: "Less", serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.h3{
  font-family: "Less", serif;
  font-size: 1.2rem;
  font-weight:700;
}
.h4{
  font-family: "Less", serif;
  font-size: 1rem;
  font-weight: bolder;
}
.h5{
  font-family: "Less", serif;
  font-size: 0.7rem;
}

.container_public{
  width: 50%;
  min-width: 320px;
  height: 70%;
  color: white;
  user-select: none;
  border-radius: 15px;
  background-color: $grey;
  box-shadow: 5px 5px 12px 4px $black;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.header_public {
  width: 100%;
  height: 60px;
  @extend .h1;
  @extend .center;
  background-color: $light_grey;
  box-shadow: 0 2px 16px 4px $black;
  border-bottom: 2px $orange solid;
}

.content_public{
  width: 100%;
  height: calc(100% - 60px);
  position: absolute;
  top: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
}

.root_public{
  width: 100vw;
  height: 100vh;
  @extend .background;
  @extend .center;
}