$xs: 0px;
$ss: 320px;
$sd: 700px;
$md: 900px;
$xl: 1200px;
$xxl: 1920px;

@mixin up($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content
  }
}

@mixin down($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content
  }
}

@mixin between($breakpoint1, $breakpoint2) {
  @media screen and (min-width: $breakpoint1) and (max-width: $breakpoint2) {
    @content
  }
}
