@import "../../styles/classes";
@import "../../styles/colors";

.root{
  width: 100vw;
  height: 100vh;
  @extend .background;
  background-image: url("../../resources/pictures/entry.jpg");
  @extend .center;
}

.container{
  width: 320px;
  color: white;
  user-select: none;
  border-radius: 15px;
  background-color: $grey;
  padding: 20px;
  box-shadow: 5px 5px 12px 4px $black;
  @extend .center;
  position: relative;
  flex-direction: column;
  justify-content: space-around;

  &.small{
    height: 320px;
  }

  &.large{
    height: 400px;
  }
}

.text{
  @extend .h0;
}

.spacer{
  height: 51px;
}