@import "../../styles/classes";
@import "../../styles/colors";

.root {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("../../resources/pictures/main.webp");
  @extend .background;
  @extend .center;

}

.container {
  color: white;
  user-select: none;
}

.main {
  @extend .h0;
}

.secondary {
  @extend .h3;
  @extend .center;
}