@import "../../styles/classes";
@import "../../styles/colors";

.root{
  width: 100vw;
  height: 100vh;
  @extend .background;
  background-image: url("../../resources/pictures/404.jpg");
  @extend .center;
}

.container{
  color: white;
  user-select: none;
  border-radius: 15px;
  background-color: $grey;
  padding: 20px;
  box-shadow: 5px 5px 12px 4px $black;
  @extend .center;
  flex-direction: column;
}

.main {
  @extend .h0;
  margin-bottom: 10px;
}