@import "../../styles/classes";
@import "../../styles/colors";

.root{
  width: 100vw;
  height: 100vh;
  @extend .background;
  background-image: url("../../resources/pictures/rules.webp");
  @extend .center;
}

.main_box {
  width: 60vw;
  height: 40vh;
  background-color: $grey;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 12px 4px $grey;
  min-width: 320px;
  max-width: 552px;
}

.rule_box {
  width: 100%;
  height: 100%;
  @extend .center;
  text-align: center;
  color: white;
  @extend .h1;
  z-index: 2;
  position: relative;
}

.buttons {
  width: 100%;
  height: 20%;
  @extend .center;
}

.buttons_spacer {
  width: 20px;
}

.number_below_rule {
  z-index: 1;
  color: $light_light_grey;
  font-size: 25vh;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding: 0;
}

.all_rule {
  width: 100%;
  height: 80%;
  position: relative;
}

@media screen and (max-width: 920px) and (orientation: landscape) {
  .main_box {
    height: 50vh;
  }
  .main_box {
    min-width: 522px;
  }
}