@import "../../styles/classes";
@import "../../styles/colors";

.root_public{
  background-image: url("../../resources/pictures/plan.webp");
}

.part_root{
  width: 100%;
  flex-direction: row;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.icon_container{
  width: 50px;
  height: 100%;
  margin: auto 0;
  @extend .center;
}

.icon{
  width: 25px;
  height: 25px;
  border-radius: 50%;

  @extend .h4;
  @extend .center;

  &.done{
    background-color: $light_orange;
    color: $grey;
  }
  &.ongoing{
    background-color: $orange;
  }
  &.tobedone{
    background-color: $black;
    color: white;
  }
}

.text_container{
  height: 100%;
  width: 100%;
  @extend .h2;
  flex-direction: column;
  text-align: left;
}

.info_text{
  margin-top: 5px;
  @extend .h4;
  width: 90%;
}