@import "../../../styles/colors";
@import "../../../styles/classes";

.root{
  @extend .center;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 50px;
}

.icon{
  width: 50px;
  height: 50px;
  @extend .center;
  position: absolute;
  left:0;
}

.animated{
  @extend .center;
  width: 95%;
  height: 95%;
  background-color: rgba(0,0,0,0);
  transition: 200ms ease-in-out;
  border-radius: 15px;

  &:hover{
    background-color: $light_light_grey;
  }
}

.badge{
  width: 13px;
  height: 13px;
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: $orange;
  border-radius: 100%;
  @extend .center;
  @extend .h5;
  color: white;
}

.label{
  position: absolute;
  left: 60px;
  @extend .h4;
  color: white;
  transition: 50ms 100ms ease-in-out;
  &.expanded{
    opacity: 1;
  }
  &.collapsed{
    transition: 100ms;
    opacity: 0;
  }
}