@import "../../styles/classes";
@import "../../styles/colors";

.root_public{
  background-image: url("../../resources/pictures/messages.webp");
}

.message {
  width: 90%;
  padding: 5%;
  color: white;
  text-align: center;

  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }
}

.left_text {
  width: 100%;
  text-align: left !important;
  float: left;
}

.right_text {
  width: 100%;
  text-align: right !important;
}