@import "../../styles/colors";
@import "../../styles/classes";

.top{
  width: 100vw;
  height: 65px;
  background-color: $grey;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 16px 4px $black;
  z-index: 2;
}

.side{
  width: 50px;
  height: calc(100vh - 65px);
  background-color: $light_grey;
  position: absolute;
  top: 65px;
  display: flex;
  flex-direction: column;
  transition: 150ms ease-in-out;
  &.expanded {
    width: 150px !important;
  }
  z-index: 1;
}

.text{
  @extend .h1;
  color: white;
  user-select: none;
  transition: 150ms ease-in-out;
  cursor: pointer;
  &:hover{
    color: $light_orange;
  }
}

.button{
  width:50px;
  position: relative;
}