@import "../../../styles/colors";
@import "../../../styles/classes";

.text_button{
  padding: 15px;
  width: auto;
  height: auto;
  background-color: $light_grey;
  transition: 200ms ease-in-out;
  @extend .h4;
  color: white;
  border-radius: 15px;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  &:hover{
    background-color: $light_light_grey;
  }
  &.outline{
    border: 1px solid $orange;
    padding: 14px !important;
    &:hover{
      border: 1px solid $light_orange;
    }
  }
}