@import "../../../styles/colors";
@import "../../../styles/classes";

.root{
  width: auto;
  height: auto;
  position: absolute;
  right: 15px;
  top:15px;
  border-radius: 15px;
  background-color: $light_grey;
  animation: show 150ms;
}

@keyframes show {
  from {opacity: 0}
  to {opacity: 1}
}