@import "../../styles/classes";
@import "../../styles/colors";

.input{
  height: 47px;
  border-radius: 15px;
  background-color: $light_grey;
  color: white;
  border: 1px solid $orange;
  outline: none;
  @extend .h4;
  text-align: center;
  transition: 150ms ease-in-out;
  &:focus,
  &:hover{
    border: 1px solid $light_orange;
  }
}

.input_root{
  position: relative;
}

.icon_button{
  position: absolute;
  right: 15px;
  top: 13.5px;
  transition: 150ms ease-in-out;
  cursor: pointer;
  &:hover{
    color: $light_light_light_grey;
  }
}